<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">

    <% if user_signed_in? %>
      <div class="idea_form_container">
        <%= simple_form_for Idea.new do |f| %>        
            <%= f.input :description, label: false, placeholder: "What's your idea?" %>            
            <%= f.submit 'Post Idea', class: 'btn btn-primary' %>
        <% end %>
      </div>
    <% end %>

    <%= render @ideas %>

    <div class = "text-center">
    	<%= will_paginate @ideas %>
    </div>
  </div>
</div>
