<!DOCTYPE html>
<html>
<head>
  <title>Ideator - Discover and Share Ideas</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<div id = "wrap">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Ideator</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
        	<li><%= link_to 'All Ideas', root_path %></li>
        	<li><%= link_to 'Random Idea', random_path %></li>
          <li><%= link_to 'About', about_path %></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class = "container">
    <%= yield %>
  </div>
  
</div>

<footer class="footer text-center">
  <div class="container">
    <div class = "row">
    	<div class = "col-xs-12 col-md-4">
    		<h4>Contact</h4>
    		<p>techrisecoding@gmail.com</p>
    	</div>
    	<div class = "col-xs-12 col-md-4">
    		<h4>Find Us</h4>
    		<div style = "font-size: 40px;">
	    		<a href = "#"><i class="fa fa-facebook-official social" ></i></a>
	    		<a href = "#"><i class="fa fa-twitter-square social" ></i></a>
	    		<a href = "#"><i class="fa fa-linkedin-square social" ></i></a>
	    	</div>
    	</div>
    	<div class = "col-xs-12 col-md-4">
    		<h4>&copy; Techrise 2016</h4>
    		<p>All Rights Reserved</p>
    	</div>
    </div>
  </div>
</footer>

</body>
</html>
